header{
    position: absolute;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Roboto', sans-serif;
    z-index: 100;
}

.logo{
    background-image: url(/Assets/logo2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 77px;
    width: 209px;
    transform: scale(0.8);
}

.buttons{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 380px;
    
}
.buttons a{
    text-decoration: none;
    color: white;
}

.medias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 140px;
    margin: 0 20px;
    margin-right: 60px;
    margin-left: 80px;
}

.medias a:nth-child(1){
    width: 25px;
    height: 25px;
    background-image: url(/Assets/instagram.png);
    background-repeat: no-repeat;

}
.medias a:nth-child(2){
    width: 25px;
    height: 25px;
    background-image: url(/Assets/facebook.png);
    background-repeat: no-repeat;

}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100px;
}
.search a{
    width: 25px;
    height: 25px;
    background-image: url(/Assets/search.png);
    background-repeat: no-repeat;
}

.buttonback{
    position: absolute;
    top: 100px;
    z-index: 100;
    width: 150px;
    height: 62px;
    transform: scale(0.8);
    margin-left: 30px;
    margin-top: 10px;
    background-image: url(/Assets/back.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.mute{
    position: absolute;
    bottom: 0px;
    z-index: 100;
    width: 90px;
    height: 90px;
    transform: scale(0.8);
    margin-left: 30px;
    margin-top: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
svg {
  width: 120px;
  height: 120px;
}
